<div id="<%= dom_id entry %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Pos:</strong>
    <%= entry.pos %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Art:</strong>
    <%= entry.art %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">De:</strong>
    <%= entry.de %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Trxn:</strong>
    <%= entry.trxn %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pl:</strong>
    <%= entry.pl %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">En:</strong>
    <%= entry.en %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ru:</strong>
    <%= entry.ru %>
  </p>

</div>
